* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
}

#slider-container {
  width: max-content;
  margin: auto;
  margin-top: 5rem;
}

#slider-container #slider-frame {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 50rem;
  height: 30rem;
}

#slider-container #slider-frame button {
  width: 3rem;
  position: absolute;
  background: none;
  border: none;
  z-index: 1;
}

#slider-container #slider-frame #left-arrow {
  left: 0;
  opacity: 0.3;
}

#slider-container #slider-frame #right-arrow {
  right: 0;
}

#slider-container #slider-frame #slider {
  display: flex;
  transition: all 1s ease;
}

#slider-container #button-container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 0.5rem;
}

#slider-container #button-container button {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: none;
  background-color: grey;
}

#slider-container #button-container button:first-child {
  background-color: #017aff;
}

/* Desktop Large */
@media (min-width: 1400px) {
  #slider-container #slider-frame {
    width: 60rem;
  }
}

/* 4k */
@media (min-width: 2400px) {
  #slider-container {
    margin-top: 5rem;
  }

  #slider-container #slider-frame {
    width: 100rem;
    height: 45rem;
  }

  #slider-container #slider-frame button {
    width: 6rem;
  }

  #slider-container #button-container {
    gap: 1rem;
    margin-top: 1rem;
  }

  #slider-container #button-container button {
    width: 1.5rem;
    height: 1.5rem;
  }
}

/* tablet */
@media (max-width: 1023px) {
  #slider-container #slider-frame {
    width: 40rem;
    height: 25rem;
  }
}

/* mobile */
@media (max-width: 425px) {
  #slider-container {
    margin-top: 10rem;
  }

  #slider-container #slider-frame {
    width: 18rem;
    height: 10rem;
  }

  #slider-container #slider-frame button {
    width: 2rem;
  }

  #slider-container #button-container {
    gap: 0.3rem;
  }

  #slider-container #button-container button {
    width: 0.5rem;
    height: 0.5rem;
  }
}